body {
  margin: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  color: black;
  margin-top: 2rem;
  

  font-size: 2rem;
  font-weight: bolder;
  display: flex;
  justify-content: space-between;
}


/* content */
.dashboard{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: 90%;
  margin: 1rem auto;
  position: relative;
}

.calorie-card{
  padding: 1.5rem;
  height: 200px;  
  background: white;
  color:black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.card-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-right{
  width: 150px;
}

/* SECOND ROW */

.macro-cards{
  
  display: flex;
  flex-wrap: wrap;
   flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin: 25px auto 20px auto;
  width: 100%;
}




.protein-card{
 
  
  background: #525252;
  padding: 1.2rem;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  
  flex: 1 1 30%;
  min-width: 100px;
  background: white;
  color:black;


  display: flex;
  flex-direction: column;
}

.carbs-card{
  padding: 1.2rem;
  border-radius: 12px;
  background: white;
  color:black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  border: 1px solid #e5e7eb;
  flex: 1 1 30%;
  min-width: 100px;
}

.fats-card{
  background: white;
  color:black;
  box-shadow: 0 4px 12px rgba(0,0,0,0.04);
  border: 1px solid #e5e7eb;
  padding: 1.2rem;
  border-radius: 12px;
  
  
  flex: 1 1 30%;
  min-width: 100px;
}

/* THIRD ROW */

.extra-row{
  display: flex;
  justify-content: space-between;

}


.macro-value {
  font-size: 1.5rem;
  font-weight: bolder;
}

.macro-label{
  font-size: 1rem;
  color: #666;
}



.macro-circle{
  width: 90px;

  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;

  margin: auto;
  margin: auto;
}
.calorie-value {
  font-size: 3rem;
  font-weight: bolder;
}


.circular-wrapper{
  position: relative;
  width: 100%;
  
}



.circular-text{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circular-small-value{
  font-size: 1rem;
  font-weight: bolder;
}

.circular-small-text{
  font-size: 0.8rem;
  font-weight: 100;
}


.recently-logged{
  color: black;
  font-size: 2rem;
}

.meal-button {
  background: #5E5DF0;
  border-radius: 10px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
  word-break: break-word;
  border: 0;
}